{% extends 'base.html.twig' %}

{% block title %}HomePage
{% endblock %}

{% block body %}
	<header>
		<h1>Welcome to CodeXpress</h1>
		<p>CodeXpress is a platform where you can share your code snippets with the community.</p>
	</header>
	<div class="">
		<h3>Last notes</h3>
		<p>Here are the last notes shared by the community</p>
		<div class="">
			{% for item in lastNotes %}
				<div class="">
					{{ item.title }}
					{{ item.category.title}}
                    <a href="{{ path('app_note_show', {'slug': item.slug}) }}">Check it</a>
				</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}
