{% extends 'base.html.twig' %}

{% block title %}All public notes{% endblock %}

{% block body %}
    <div class="py-10">
    
    {% set lastMonth = date('2024-07-07')  %}
    
        {{ dump(lastMonth) }}
        {{ dump(lastMonth|time_diff) }}


    Published {{ lastMonth|time_diff }} ago.
    
    </div>
{% endblock %}
